
@media only screen and (max-width: 600px) {

 .title{
  margin-top:550px
 }
 .catimg{
  margin-top:-900px;
  height:600px;
 }
 .hide{
  display: none;
 }
 .cat{
  font-size: x-small;
 }
}
.card {
  display: grid;
 
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: white;
  
  
 
}




.theme-color{

  color: #00b922;
}
hr.new1 {
  border-top: 2px dashed #000000;
  margin: 0.4rem 0;
}


.checkout .form-control{
  border-radius: 0px !important;
}
.checkout .form-control:focus{
  border: 1px solid #000 !important;
  box-shadow: none !important;
}
.checkout .nav-link{
  border: 1px solid #000;
  border-radius: 0px;
  margin-bottom: 8px;
}
.checkout .tab-content{
  padding-right: 10px;
}




.card-text .date {
  color: rgb(255, 7, 110);
  font-size:13px;
}


.card-stats {
  grid-area: stats; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin:10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
 
}

.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;

  
}
/* custom scrollbar */
::-webkit-scrollbar{
  width:1px;
  background:white;
  height:10px
}
::-webkit-scrollbar-thumb{
  background:rgb(153, 153, 153);
  border-radius: 10px;
}
.background-radial-gradient {
  background-color: hsl(180, 4%, 5%);
  background-image:url('https://img.freepik.com/free-photo/abundant-collection-antique-books-wooden-shelves-generated-by-ai_188544-29660.jpg?t=st=1700897815~exp=1700901415~hmac=4d0275928c07c9eea3cd6176f9d16a5708ff32410a0dbceccdc6c59b0fa79497&w=1060');
  background-repeat: no-repeat;
  background-size: cover;
}




.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
.small {
  letter-spacing: 0.5px !important;
}

.card-1 {
  box-shadow: 2px 2px 10px 0px rgb(83, 2, 2);
}

hr {
  background-color: rgba(248, 248, 248, 0.667);
}


.bold {
  font-weight: 500;
}

.change-color {
  color:  rgb(0, 0, 0) !important;
}

.card-2 {
  box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);

}

.fa-circle.active {
  font-size: 8px;
  color:  rgb(0, 0, 0);
}

.fa-circle {
  font-size: 8px;
  color: #aaa;
 
  
}

.rounded {
  border-radius: 2.25rem !important;
}




.progress {
  height: 5px !important;
  margin-bottom: 0;
}

.invoice {
  position: relative;
  top: -70px;
}

.Glasses {
  position: relative;
  top: -12px !important;
}

.card-footer {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

h2 {
  color: rgb(255, 255, 255);
  
}

.display-3 {
  font-weight: 500 !important;
}

@media (max-width: 479px) {
  .invoice {
      position: relative;
      top: 7px;
  }

  .border-line {
      border-right: 0px solid rgb(226, 206, 226) !important;
  }

}

@media (max-width: 700px) {

  h2 {
      color: rgb(78, 0, 92);
      font-size: 17px;
  }

  .display-3 {
      font-size: 28px;
      font-weight: 500 !important;
  }
}

.card-footer small {
  letter-spacing: 7px !important;
  font-size: 12px;
}

.border-line {
  border-right: 1px solid rgb(226, 206, 226)
}